body {
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding:10px
  }
  /* container style apply*/
  .container {
    max-width: 1000px;
    margin-bottom: 20px;
  }

  .jumbotron {
    
    text-align: center;
    color: rgb(112, 121, 218);
    border-bottom: 5px solid black;
    padding-bottom: 15px;
    background-color: #ace894;
  }

  .description {
    white-space: pre-wrap;
  }
  /*time-block*/
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  /* past, present and future color style apply  */
  .past {
    background-color: #d3d3d3;
    color: white;
    border-radius: 17px;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
    border-radius: 17px;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
    border-radius: 17px;
  }
  /* button style apply   */
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  /* clear button style */
  .clearbtn {
    margin-top: 19px;
    padding: 10px;
    align-items: left;
    text-align: center;
    background-color: rgb(129, 135, 133);
  }

  .clearbtn i:hover {
    font-size: medium;
  }